@import url("../css/base.css");

.logo-container{
    height: 100%;
}

.logo-container > img{
    height: 100%;
    object-fit: contain;
}

.menu-and-search{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    
}

.suggestions-carousel {
    display: flex;
    justify-content: space-between;
}

.current-article > article{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}